@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer: Global styles and element selectors */
@layer base {
   /* Change the width of the scrollbar */
   ::-webkit-scrollbar {
      height: 0px;
      height: 0px;
   }

   /* Change the background of the scrollbar track */
   ::-webkit-scrollbar-track {
      background: transparent;
      margin: block;
   }

   /* Change the scrollbar thumb color */
   ::-webkit-scrollbar-thumb {
      border-radius: 0px;
   }

   body {
      background: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%) center/cover
         no-repeat fixed;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: #333;
      letter-spacing: 0.05em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }
}

/* Components Layer: Reusable components */
@layer components {
   .main-font {
      font-family: "Italianno";
      font-weight: 400;
   }
   .header-logo {
      @apply flex items-center gap-2;
   }

   .card {
      background: rgba(245, 245, 245, 0.7);
      /* background: linear-gradient(
         325.41deg,
         rgba(98, 81, 184, 0.9) -400.5%,
         rgba(255, 255, 255, 0.7) 80%,
         rgba(98, 81, 184, 0.9) 180.5%
      ); */
   }

   .Right-Arrow {
      animation: bounce 3s ease-in-out infinite;
   }
   .Left-Arrow {
      animation: bounce 3s ease-in-out 1s infinite;
   }
   .cards {
      @apply flex flex-1 flex-wrap gap-3;
   }

   .future-cards {
      @apply mt-12 gap-7 flex flex-row  overflow-x-scroll snap-x snap-mandatory;
   }
   .pop-up {
      @apply w-10 h-10 backdrop-blur-md;
   }
   .search-bar {
      animation: open 1s ease-out;
   }

   .searchBar {
      animation: char 1.5s ease-in-out 1s;
   }

   .search-bar {
      transform-origin: center;
      width: 100%;
   }
   .pop-up {
      animation: popUp 2s ease-in-out alternate infinite;
   }
}

/* Utilities Layer: Small, reusable utilities */
@layer utilities {
   @keyframes char {
      0% {
         width: 0;
      }
      100% {
         width: 100%;
      }
   }

   @keyframes open {
      0% {
         transform: scaleX(0);
      }
      100% {
         transform: scaleX(1);
      }
   }

   @keyframes popUp {
      0% {
         transform: scale(0);
      }
      100% {
         transform: scale(1);
      }
   }

   @keyframes bounce {
      0% {
         opacity: 1;
      }
      50% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
}
